* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: linear-gradient(135deg, #5C0000, #FF1E1E);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 40px;
  text-align: center;
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
}

.partes{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  max-height: 1200px;
  border-radius: 15px;
  justify-content: center;
  margin: 1rem auto;
  margin-bottom: 100px;
  color: white;
  text-align: center;
}

.partes1{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 500px;
  max-height: 1200px;
  border-radius: 15px;
  justify-content: center;
  margin: 1rem auto;
  padding: 2rem;
  margin-bottom: 100px;
  color: white;
  text-align: center;
}

p{
  font-size: 1.5rem;
}

.modal {
            display: none; 
            position: fixed; 
            z-index: 1000; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%;
            background-color: rgba(0,0,0,0.6);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            position: relative;
            background: #fff;
            padding: 20px;
            font-size: 1.3rem;
            border-radius: 12px;
            max-width: 90%;
            max-height: 90%;
            overflow-y: auto;
            scrollbar-width: none;
            text-align: center;
            box-shadow: 0 0 15px rgba(0,0,0,0.3);
        }

        .close {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: #333;
        }

        .close:hover {
            color: red;
        }

        .modal-content h2 {
            margin-bottom: 15px;
        }

footer{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}