* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: linear-gradient(135deg, #5C0000, #FF1E1E);
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 40px;
  text-align: center;
}

header h1 {
  font-size: 1.8rem;
  margin: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.main-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
  align-items: center;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.6);
  height: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  background-color: #014421; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.botones-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  height: 600px;
  align-items: center;
  justify-items: center;
}

.botones-grid img {
  width: 100%;
  max-width: 250px;
  height: 100%;
  max-height: 250px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.botones-grid img:hover {
  transform: scale(1.05);
}

.funcionamiento {
  margin: 100px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 15px;
  max-width: 800px;
}

@media (max-width: 900px) {
  .main-layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .carousel {
    height: 400px;
  }

  .botones-grid {
    height: auto;
    grid-template-columns: 1fr 1fr;
  }

  .botones-grid img {
    max-width: 200px;
  }
}
