* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background: linear-gradient(135deg, #5C0000, #FF1E1E);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family: "Spline Sans Mono", monospace;
  font-optical-sizing: auto;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 15px 40px;
  text-align: center;
  display: flex;
}

header h1 {
  font-size: 1.8rem;
  margin-left: 36%;
}

footer{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.problemas{
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  max-height: 1200px;
  border-radius: 15px;
  justify-content: center;
  margin: 1rem auto;
  margin-bottom: 100px;
  color: white;
  text-align: center;
}

.problemas p{
  font-size: 1.5rem;
}